services:
  fcp-sfd-crm:
    build:
      target: development
    image: fcp-sfd-crm-development
    container_name: fcp-sfd-crm-development
    ports:
      - '3009:3009'
      - '9232:9232'
    links:
      - 'localstack:localstack'
      - 'mongodb:mongodb'
    depends_on:
      localstack:
        condition: service_healthy
      mongodb:
        condition: service_started
    volumes:
      - ./src/:/home/node/src
      - ./package.json:/home/node/package.json
    env_file:
      - .env
    environment:
      PORT: 3009
      PORT_DEBUG: 9232
      NODE_ENV: development
      LOCALSTACK_ENDPOINT: http://localstack:4566
      MONGO_URI: mongodb://mongodb:27017/
      CRM_AUTH_ENDPOINT: ${CRM_AUTH_ENDPOINT}
      CRM_AUTH_CLIENT_ID: ${CRM_AUTH_CLIENT_ID}
      CRM_AUTH_CLIENT_SECRET: ${CRM_AUTH_CLIENT_SECRET}
      CRM_AUTH_SCOPE: ${CRM_AUTH_SCOPE}
      CRM_API_BASE_URL: ${CRM_API_BASE_URL}
      API_KEY_FOR_TESTING_CASE_CREATION: ${API_KEY_FOR_TESTING_CASE_CREATION}
      SNS_ENDPOINT: http://localstack:4567
      AWS_REGION: ${AWS_REGION:-eu-west-2}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
    networks:
      - cdp-tenant

  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - .env
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
      AWS_REGION: ${AWS_REGION:-eu-west-2}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-test}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-test}
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data
    restart: always

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
